@model appClinica_TC1.Models.Paciente

<h2>Agregar Paciente</h2>

<form asp-action="Create">
    <div>
        <label>Cédula</label>
        <input asp-for="Cedula" />
    </div>
    <div>
        <label>Nombre</label>
        <input asp-for="Nombre" />
    </div>
    <div>
        <label>Fecha Nacimiento</label>
        <input asp-for="FechaNacimiento" type="date" />
    </div>
    <div>
        <label>Edad</label>
        <input asp-for="Edad" type="number" />
    </div>
    <div>
        <label>Dirección</label>
        <input asp-for="Direccion" />
    </div>
    <button type="submit">Guardar</button>
</form>
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<a href="@Url.Action("Index")">Volver a la lista</a>
